h1 {
    text-align: center;
    padding: 10px;
    text-shadow: 5px;
}

.head {
    border: solid black;
    background-color: whitesmoke;
}

.heap {
    color: black;
    margin-right: 10px;
    text-decoration: dashed;
    text-align: center;
}

.heap :hover {
    text-decoration: underline;
}

#Adab {
    padding-top: 20px;
    border-radius: 30px;
}

#Adab:hover {
    box-shadow: 5px 10px 10px 5px grey;
}

h4 {
    padding-top: 20px;
}